# Whitelist-based approach to files and directories associated with this project.

# First ignore everything.
*

# Whitelist directories.
!*/

# Whitelist basic Git files.
!.gitignore
!LICENSE
!*.md

# Whitelist Origin source code files.
!*.h
!*.c
!*.cpp
!*.ogs

# Whitelist web source code files.
!*.html
!*.js
!*.css
!*.json

# Whitelist image files.
!*.png
!*.bmp
!*.gif
!*.svg
!*.jpg

# Whitelist web font files.
!*.ttf
!*.eot
!*.woff

# Whitelist Origin files
!*.opx
!*.opju
!*.ogwu
!*.otwu

# Whitelist other files
!*.txt
!*.ini
!*.pdf
!*.zip
