table.origin-table {
	border: 1.5px solid #c0c0c0;
	border-collapse: collapse;
}

table.origin-table th:only-child:empty {
	border: none;
	margin: 0px;
	padding: 0px;
}

table.origin-table th {
	background-color: #808080;
	border-bottom: 1px solid #c0c0c0;
	padding: 1px 8px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}

table.origin-table th:not(:last-child) {
	border-right: 1px solid #c0c0c0;
}

table.origin-table td {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #c0c0c0;
	padding: 1px 8px;
	vertical-align: middle;
	text-align: right;
	font-weight: normal;
	color: rgb(0, 0, 0);
}

table.origin-table tr:nth-child(2n+1) > td {
	background-color: #ebebeb;
}

table.origin-table td:not(:last-child) {
	border-right: 1px solid #c0c0c0;
}
