table.origin-table {
	border: 1.5px solid #a8d08d;
	border-collapse: collapse;
}

table.origin-table th:only-child:empty {
	border: none;
	margin: 0px;
	padding: 0px;
}

table.origin-table th {
	background-color: #70AD47;
	border-bottom: 1px solid #A8D08D;
	padding: 1px 8px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}

table.origin-table th:not(:last-child) {
	border-right: 1px solid #A8D08D;
}

table.origin-table td {
	background-color: #ffffff;
	border-bottom: 1px solid #a8d08d;
	padding: 1px 8px;
	vertical-align: middle;
	text-align: right;
	font-weight: normal;
	color: #000000;
}

table.origin-table tr:nth-child(2n+1) > td {
	background-color: #E2EFD9;
}

table.origin-table td:not(:last-child) {
	border-right: 1px solid #a8d08d;
}
